@use '../../assets/scss/function';

.TransparentBackground {
  background-color: rgba($color: #000000, $alpha: 0.5);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .ContentContainer {
    background-color: rgba($color: #000000, $alpha: 0.8);
    display: flex;
    flex-direction: column;
    padding: 6rem 6.8rem 4rem;
    border-radius: 3px;
    width: 45rem;

    @include function.responsive(phone) {
      padding: 5rem 3rem 4rem;
    }

    .Heading {
      font-size: 3.6rem;
      font-weight: bold;
      margin: 1rem 0;

      @include function.responsive(phone) {
        font-size: 2.4rem;
      }
    }

    .RequestError {
      width: 100%;
      background-color: #E87C03;
      padding: 1.5rem 2rem;
      border-radius: 5px;
      font-size: 1.6rem;
      color: white;
    }

    .LoginForm {
      width: 100%;

      @include function.responsive(phone) {
        width: 100%;
      }

      .FormGroup {
        margin: 1rem 0;

        .LabelContainer {
          position: relative;
          display: block;

          .Label {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 2rem;
            display: inline-block;
            font-size: 1.8rem;
            color: #8c8c8c;
            transition: all 100ms ease-in-out;

            @include function.responsive(phone) {
              font-size: 1.4rem;
            }
          }

          .InputControl {
            background-color: #333333;
            width: 100%;
            font-size: 1.8rem;
            outline: none;
            border: 1px solid black;
            padding: 1.6rem 2rem 0;
            height: 5rem;
            border-radius: 5px;
            color: white;

            @include function.responsive(phone) {
              font-size: 1.4rem;
            }
          }

          .HasText {
          }

          .HasError {
            border-bottom: 2px solid #E87C03;
          }

          .HasText + .Label,
          .InputControl:focus + .Label {
            top: 1.4rem;
            font-size: 1.4rem;

            @include function.responsive(phone) {
              font-size: 1.1rem;
            }
          }
        }

        .ErrorMsg {
          color: #E87C03;
          font-size: 1.4rem;
          margin-top: .8rem;

          @include function.responsive(phone) {
            font-size: 1rem;
            margin-top: .5rem;
          }
        }
      }

      .Button {
        color: white;
        font-size: 0.8vw;
        border-radius: 5px;
        margin: 2rem 2rem 2rem 0;
        padding: 1.5rem 2rem;
        cursor: pointer;
        transition: transform 300ms;
        box-shadow: none;
        outline: none;
        width: 100%;
        border: none;
        background-color: #e50914;
        font-size: 2rem;
        font-weight: bold;

        @include function.responsive(phone) {
          margin: 1rem 1rem 1rem 0;
          padding: 1rem 1.5rem;
          font-size: 1.4rem;
        }
      }
    }

    .SignupText {
      margin: 1rem 0;
      color: #888;
      font-size: 2rem;

      @include function.responsive(phone) {
        font-size: 1.4rem;
      }

      .Link {
        color: white;
        font-size: 20px;
        text-decoration: none;
        cursor: pointer;

        @include function.responsive(phone) {
          font-size: 1.4rem;
        }
      }
    }
  }
}
