.MovieDetailContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: linear-gradient(90deg, #000 35%, transparent 60%);
  padding: 2vw;

  .Title {
    font-size: 4vw;
    font-weight: bold;
    margin: 1.2vw 0;
  }

  .Info {
    display: flex;
    font-size: 1.2vw;
    font-weight: 500;
    column-gap: 1.2vw;
    margin: 0;

    .Rating {
      color: #5cde5c;
    }
  }

  .Desc {
    font-size: 1.2vw;
    line-height: 1.3;
    margin: 1.2vw 0;
    width: 45%;
    color: #959494;
  }
}
