@use '../../../assets/scss/function';

.Logo {
  width: 1.5rem;
  height: 1.5rem;
  fill: #FFF;
  margin-right: .6rem;

  @include function.responsive(phone) {
    max-width: 1rem;
    max-height: 1rem;
  }
}