.Show {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 500px;
  padding: 30px;
  z-index: 300;
  top: 50%;
  transform: translateY(-50%);
  background-color: black;
}

.Hide {
  display: none;
}