@use '../../../assets/scss/function';

.LogoContainer {
  width: 12rem;
  cursor: pointer;

  @include function.responsive(pad) {
    width: 10rem;
  };

  @include function.responsive(phone) {
    width: 8rem;
  };

  .Logo {
    max-width: 100%;
  }
}