.NavigationItem {
  margin: 0 .5vw;
  height: auto;

  a {
    text-decoration: none;
    color: #d2d2d2;
    transition: color 100ms;
    font-weight: 500;
    font-size: .9vw;
  }

  a:link,
  a:visited {
    color: #d2d2d2;
  }

  a:hover {
    color: #9c9c9c;
  }
}
