@use '../../../assets/scss/function';

.Button {
  color: white;
  font-size: 1.5rem;
  border-radius: 5px;
  margin: 2rem 2rem 2rem 0;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: transform 300ms;
  box-shadow: none;
  outline: none;

  @include function.responsive(phone) {
    margin: 1rem 1rem 1rem 0;
    padding: .5rem 1rem;
    font-size: .8rem;
  }

  &:hover {
    transform: scale(1.1);
  }

  .Logo {
    width: .8vw;
    height: .8vw;
    fill: #FFF;
    margin-right: .5vw;
  }
}

.Red {
  @extend .Button;
  background-color: #E50914;
  border: 1px solid transparent;
}

.Black {
  @extend .Button;
  background-color: black;
  border: 1px solid white;
}
