.Button {
  color: white;
  font-size: .8vw;
  border-radius: 5px;
  margin: 20px 20px 20px 0;
  padding: 10px 20px;
  cursor: pointer;
  transition: transform 300ms;
  box-shadow: none;
  outline: none;

  &:hover {
    transform: scale(1.1);
  }

  .Logo {
    width: .8vw;
    height: .8vw;
    fill: #FFF;
    margin-right: .5vw;
  }
}

.Red {
  @extend .Button;
  background-color: #E50914;
  border: 1px solid transparent;
}

.Black {
  @extend .Button;
  background-color: black;
  border: 1px solid white;
}