@use '../../assets/scss/function';

.SearchContainer {
  flex-grow: 1;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;

  .Icon {
    max-width: 2rem;
    max-height: 2rem;
    cursor: pointer;
    transform: translateX(28px);

    @include function.responsive(phone) {
      max-width: 1.5rem;
      max-height: 1.5rem;
    }
  }

  .Input {
    width: 0;
    height: 0;
    transition: 500ms width;
    opacity: 0;
    border: 1px solid white;
    padding: 1.5rem;
    border-radius: 2px;
    background-color: black;
    cursor: pointer;
    color: white;

    &:focus {
      width: 25rem;
      height: 4rem;
      opacity: 1;
      cursor: text;
      padding-left: 3.8rem;

      @include function.responsive(pad) {
        width: 15rem;
        height: 3rem;
      }
    }
  }
}
