@use '../../assets/scss/function';

.Footer {
  width: 100%;
  height: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;

  @include function.responsive(pad) {
    height: 15rem;
  }

  @include function.responsive(pad) {
    height: 8rem;
  }

  a:link, :visited {
    text-decoration: none;
    color: #B01712;
  }
}