@use '../../assets/scss/function';

.Header {
  position: fixed;
  width: 100%;
  padding: 0.5vw 2vw;
  display: flex;
  align-items: center;
  background-color: transparent;
  z-index: 500;
  transition: all 1s ease-out;

  .MainNav {
    list-style: none;
    display: flex;
  
    @include function.responsive(pad) {
      position: absolute;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translate(25%, 60%);
      background-color: black;
      border-radius: 3px;
      padding: 0 1rem;
      visibility: hidden;
    };
  }

  .Show {
    visibility: visible;
    transition: visibility 150ms;
  }

  .OtherNav {
    list-style: none;
    display: flex;

    // @include function.responsive(phone) {
    //   display: none;
    // };
  }
}

.Black {
  transition: all 1s ease-in;
  background-color: black;
}
