.Header {
  position: fixed;
  width: 100%;
  padding: .5vw 2vw;
  display: flex;
  align-items: center;
  background-color: transparent;
  z-index: 500;
  transition: all 1s ease-out;
}

.Black {
  transition: all 1s ease-in;
  background-color: black;
}